@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  font-family: 'DM Sans', sans-serif !important;
}

.anticon {
  vertical-align: 0.125em !important;
}

.ant-image-preview-img-wrapper img {
  /* This is needed because tailwind styles breaks ant design's Image component's */
  height: unset;
  display: unset;
}

.gcbm-tour-modal > .ant-modal {
  top: 10px !important;
}

@tailwind utilities;
