.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0;
  border-width: 1px;
  display: inline-flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  padding: 8px 16px;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 0.875rem;
}
.storybook-button--primary {
  color: white;
  background-color: #1baffc;
}
.storybook-button--secondary {
  color: white;
  background-color: #189ee3;
}
.storybook-button--success {
  color: white;
  background-color: #2ed06e;
}
.storybook-button--danger {
  color: white;
  background-color: #f5222d;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
