.card {
  padding: 2em;
  overflow: hidden;
  box-sizing: border-box;
  width: fit-content;
  font-family: inherit;
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  margin-bottom: 30rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow) !important;
}

:root {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.08),
    0 4px 6px -2px rgba(0, 0, 0, 0.01);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
}
